<div class="d-flex mb-1 justify-content-between">
    <form action='/edit' method='get'>
        <button type="submit" class="btn btn-outline-primary">Create new todo</button>
    </form>
    <form action='/toggle' method='post'>
        <button type="submit" class="btn btn-outline-primary">Toggle Style</button>
    </form>
</div>

<div class="d-flex flex-sm-row flex-column">
    <div class="container-fluid">
        <form class="row" action="/sort" method="post">
            <button type="submit" name="title" class="btn btn-outline-primary col-sm-auto">Name{{#if_eq sort "title_asc"}}<i class="bi-caret-down-fill"></i>{{/if_eq}}{{#if_eq sort "title_dsc"}}<i class="bi-caret-up-fill"></i>{{/if_eq}}</button>
            <button type="submit" name="due_date" class="btn btn-outline-primary col-sm-auto">By Due Date{{#if_eq sort "due_date_asc"}}<i class="bi-caret-down-fill"></i>{{/if_eq}}{{#if_eq sort "due_date_dsc"}}<i class="bi-caret-up-fill"></i>{{/if_eq}}</button>
            <button type="submit" name="creation_date" class="btn btn-outline-primary col-sm-auto">By Creation Date{{#if_eq sort "creation_date_asc"}}<i class="bi-caret-down-fill"></i>{{/if_eq}}{{#if_eq sort "creation_date_dsc"}}<i class="bi-caret-up-fill"></i>{{/if_eq}}</button>
            <button type="submit" name="importance" class="btn btn-outline-primary col-sm-auto">By Importance{{#if_eq sort "importance_asc"}}<i class="bi-caret-down-fill"></i>{{/if_eq}}{{#if_eq sort "importance_dsc"}}<i class="bi-caret-up-fill"></i>{{/if_eq}}</button>
        </form>
    </div>
    <form action='/filter' class="ml-auto" method='post'>
        <button type="submit" name="importance" class="btn btn-outline-primary" style="width: 180px;"> Filter completed</button>
    </form>
</div>

{{#each entries}}
        <div class="d-flex flex-sm-row flex-column my-3">
            <div class="container-fluid">
                <div class="row">
                    <label class="col-3">{{this.daysUntilDueDate}} </label>
                    <h6 class="col-5">{{this.title}}</h6>
                    <div class="col-4">
                        <p class="text-end text-nowrap">{{this.importanceSym}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <input id="finished" type="checkbox" disabled="disabled" {{#if this.finished}}checked="checked"{{/if}}>
                        <label for="finished">{{#if this.finished}}Completed{{else}}Open{{/if}}</label>
                    </div>
                    <label class="col-9">{{this.description}}</label>
                </div>
            </div>
            <div class="my-3">
                <form class="edit-button" action='/edit/{{this.id}}' method='get'>
                    <button type="submit" name="edit" class="w-100 btn btn-outline-primary">Edit</button>
                </form>
            </div>
        </div>
    <hr>
{{else}}
    <div class="my-3 alert alert-info alert-dismissible fade show">
        <strong>No todos found!</strong> Create new todos with top left button.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
{{/each}}